*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

header {
  padding: 24px 0;
  background-color: black;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links a {
  margin-left: 20px;
  color: inherit;
}

.btn {
  padding: 10px 12px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.btn-primary {
  background-color: aqua;
}

.about-content {
  display: none;
  position: absolute;
  background-color: aqua;
  padding: 10px;
  min-width: 160px;
}

.show {
  display: block;
}

.about-content a {
  display: block;
  padding: 10px;
}

.about-content a:hover {
  background-color: rgba(5, 151, 164, 0.501);
}
